.bg-image {
  height: 100vh;
  background-image: url(./ParchBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fantasy-image {
  height: 100%;
  border-width: 20px;
  border-style: solid;
  border-color: yellow;
}

.fanstasy-name {
  font-family: Luminari, fantasy !important;
}
